.card {
  background-color: rgba(255, 255, 255, 0.836);
  height: auto;
  width: 320px;
  margin-left: 40%;
  padding: 0rem;
  display: block;
  margin-top: 6%;
}
.profile-picture {
  height: 200px;
  margin-left: 20%;
}
.profile-type {
  text-align: center;
  font-size: 1.5rem;
}
.profile-username {
  font-size: 3rem;
  text-align: center;
  color: #230d10;
}
.profile-jointat {
  text-align: center;
  font-size: 2rem;
}
.num-of-request {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 253, 253, 0.459);
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.num-of-request ion-icon {
  color: #230d10;
  margin-left: 45%;
  font-size: 23px;
}
.num-of-request-count {
  text-align: center;
  color: #230d10;
  font-size: 2rem;
}
.card-from-lock-icon {
  margin-left: 45%;
  height: 150px;
  width: 145px;
}
